{
    "type" : "TOKEN",
    "authorizationToken" : "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik4wTXhRa00wTlRGR1JFVXhNMEZFTXpjNE4wVTVNVVZETkVJeE1ERTJNMEV3TWpneFFrVXlNQSJ9.eyJpc3MiOiJodHRwczovL2Rldi1lMmlodi1vei5hdXRoMC5jb20vIiwic3ViIjoiY2k5ZmFySnhrbURhcW1WV244RVY3WGJmTXQzMmozWW1AY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vdGVzdC10aW1lLWFwaS5jb20iLCJpYXQiOjE1ODAzOTg0NDQsImV4cCI6MTU4MDQ4NDg0NCwiYXpwIjoiY2k5ZmFySnhrbURhcW1WV244RVY3WGJmTXQzMmozWW0iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMifQ.ZSr5Dagwy-BQ37GtP3RM7Tv9Ddd5_eXt2S_m23d1y6t8-whSI3mZ2rzvri7e5YWDkvn8kc9_4NkHI_b5UpRJGQ-YqUWd4B45cDPaKMgVQVL7JXLB48xGjtxeSamiVWOWoE9WMO_U2mP-w4haXV07Ip6RBI2dKXrpoSaEfj4x1FNttvcmbf0ssS-P_kSGNCTekOAx2tcpBwdgyJeqZaMPswQh5hkC9Gf7dpyvQJwKZU6qUBlQgsKFCwLMSJpDa4GYhVQGrDf-xFhboVRoUIi3PC9KZjazx_wZ4w3RKpJscAWz3eBJlvkNFG94a0W6zAbqhM5ytIVZSAPi8mopAgacTQ",
    "methodArn":"arn:aws:lambda:us-east-1:612943573384:function:jwtRsaCustomAuthorizer"
}
